.cordefundo {
background-color:#222;
}

.imagemakatsuki {
    width:320px;
    height:200px;  
}

ul {
    color:white;
}

p {
    color:white;
    padding:8px;
    padding-top:0px;
}

h2 {
    color:white;    
}

h1 {
    color:red;
    padding-left:28px; 
}

hr {
    color:white;
}

.titulo {
    background-color:red;
    color:white;
    border-radius:100px;
    text-align:center;
    padding:5px;
}

.ninjas {
    background-color:red;
    text-align:center;
    border-radius:100px;
    font-family: Courier New;
}

img {
  margin: auto;
  display: block;
}